nav{
      background: rgba(237, 133, 5, 0.164);
      width: 100% ;
      padding: 0.7rem 1.7rem;
      position: fixed;
      z-index: 2;
      margin-right: 50%;
      display: flex;
      gap: 1rem;
      
      border-radius: 3rem;
      backdrop-filter: blur(15px);
      
}
nav a{
      background: transparent;
      padding: .9rem;
      font-size: 1.5rem;
      border-radius: 50%;
      display: flex;
      color: var();
      align-items: center;
      justify-content: center;
      left: 50%;
      
      margin: auto;
      
}
nav a:hover{
      background: rgba(0, 0, 0, .5);
}
nav a.active{
      background: var(--color-bg);
      color: var(--color-white);
}