footer{
      background-color: var(--color-primary);
      padding: 1rem 0;
      text-align: center;
      font-size: 0.9rem;
      margin-top: 2rem;
}
footer a{
      color: var(--color-bg);
}
.footer-logo{
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 2rem;
      
      display: inline-block;
}
.permalinks{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
      margin: 0 auto;
}
.footer-social{
      display: flex;
      justify-content: center;
      margin-bottom: 8rem;
      gap: 1rem;
      
      
}
.footer-social a{
      background: var(--color-bg);
      color: var(--color-white);
      padding: 0.8rem;
      border-radius: 0.7rem;
      display: flex;
      border-radius: 1px solid transparent;
}
.footer-social a:hover{
      background: transparent;
      color: var(--color-bg);
}
.footer-copyright{
      margin-bottom: 7rem;
      font-size: 1rem;
}